#будет игнорироваться каталог tmp
tmp

# проигнорировать расширение _old
*.html_old

# проигнорировать _backup
*.png_backup

# проигонрировать файлы Thumbs.db
Thumbs.db

# проигнорировать файлы .DS_Store
.DS_Store

